<div class="landing-page">

    <div class="hero">
        <div class="hero-cards">
            <div class="join-community-card">
                <mat-icon class="search-icon">search</mat-icon>
                <p>Find the best answer to your technical question, help others answer theirs</p>
                <a routerLink="/signup" class="signup">Join the community</a>
            </div>
            <div class="teams-card">
                <!-- security icon padlock -->
                <mat-icon class="search-icon">security</mat-icon>

                <p>Want a secure, private space for your technical knowledge?</p>
                <a routerLink="/signup" class="signup">Discover teams</a>
            </div>
        </div>
        <p>Every <span class="engineer"> {{engineer}} </span> has a
            tab <br> open to Stack Overflow</p>

        <div class="users-stats">
            <div class="visitors">
                <h2> 100 + million</h2>
                <p>monthly visitors to Stack Overflow & Stack Exchange</p>
            </div>
            <div class="users">
                <h2> 50 + million</h2>
                <p>monthly users on Stack Overflow & Stack Exchange</p>
            </div>

        </div>
    </div>
</div>