.icon{
    cursor: pointer;
    width: 30px;
    height: 30px;
}
nav{
    background-color: #f8f9f9;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    
}
 

nav .menu-icon{
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
}
nav img{
    width: 100px;
    height: 100px;

}

nav img{
    font-weight: bold;
    color: gray;
}
nav .logo mat-icon{
    font-size: 2rem;
    color: #333;
}

nav .logo span{
    color: black;
}


nav .search{
    position: relative;
    width: 300px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0 16px;
    margin-right: 36px;
}
nav .search form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
nav .search input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0 10px;
    font-size: 1rem;
    color: #333;
}

nav .search button{
    position: absolute;
    right: 10px;
    border: none;
    background: none;
    cursor: pointer;
    color: #333;
}

nav .links{
    display: flex;
    align-items: center;
}

nav .links a{
    margin: 0 10px;
    text-decoration: none;
    border: 1px solid #92b3cb;
    padding:  5px 10px;
    border-radius: 5px;
}

nav .links .login{
    background-color: #e1ecf4;
    color: #92b3cb;
}

nav .links .signup{
    background-color: #0a95ff;
    color: #e1ecf4;
}

nav .links .login:hover{
    background-color: #92b3cb;
    color: #e1ecf4;
}

nav .links .signup:hover{
    background-color: #92b3cb;
    color: #e1ecf4;
}

aside{
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    z-index: 999;
    margin-top: 50px;
    overflow-y: scroll;
    scrollbar-width: thin;
   height: 100vh;
   width: 20%;
    background-color: #f8f9f9;
    display: none;
   

}


aside nav ul{
    display: flex;
    flex-direction: column;
    gap:  10px;
    padding: 20px;
    /* justify-content: center;
    align-items: center; */
}

nav ul ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:  10px;
}



aside nav ul li{
    list-style: none;
    
  
}

aside nav ul li a{
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    padding: 10px 20px;
}

aside nav ul li a:hover{
    color: #0a95ff;
}

aside nav ul li a.active{
    color: #0a95ff;
}

aside nav ul li a.active:hover{
    color: #333;
}


@media screen and (max-width: 768px){
    nav{
        padding: 10px 20px;
    }
    nav .menu-icon{
        display: block;
    }
    nav img{
        display: none;
    }
    nav .search{
        display: none;
    }
    nav .links{
        display: flex;
    }
    aside{
        display: none;
        width: 50%;
    }
}


.show{
    display: flex;
  
}

