<footer>
    <div class="stackoverflow">
        <div class="logo">
            <img class="icon" src="../../../assets/logo-stackoverflow.svg" alt="Stack Overflow">
            <h2>stackoverflow</h2>


        </div>


        <a routerLink="/questions" routerLinkActive="active">Questions</a>
        <a routerLink="/help" routerLinkActive="active">Help</a>
    </div>
    <div class="social-media">
        <h2>social media</h2>
        <a target="_blank" href="https://twitter.com/angular" title="Twitter">twitter</a>
        <a target="_blank" href="https://www.facebook.com/angular" title="Facebook">facebook</a>
        <a target="_blank" href="https://www.youtube.com/angular" title="YouTube">youtube</a>

    </div>
    <div class="company">
        <h2>company</h2>
        <a href="#" target="_blank">About</a>
        <a href="#" target="_blank">Terms</a>
        <a href="#" target="_blank">Privacy</a>

    </div>

    <div class="stack-exchange-network">
        <h2>stack exchange network</h2>
        <a href="#" target="_blank">Stack Exchange</a>
        <a href="#" target="_blank">Technology</a>
        <a href="#" target="_blank">Culture</a>

    </div>
</footer>