<div class="login">
    <div class="form-group">
        <p>sign up</p>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div class="input-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" placeholder="Name" required formControlName="name">

                <span *ngIf="signupForm.get('name')?.hasError('required') && signupForm.get('name')?.touched" class="error">Name is required</span>


                
            </div>
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Email"  required formControlName="email">
                <span *ngIf="signupForm.get('email')?.hasError('required') && signupForm.get('email')?.touched" class="error">Email is required</span>
                <span *ngIf="signupForm.get('email')?.hasError('email') && signupForm.get('email')?.touched" class="error">Email is invalid</span>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Password" required formControlName="password">
                <span *ngIf="signupForm.get('password')?.hasError('required') && signupForm.get('password')?.touched" class="error">Password is required</span>
            </div>
            
            <div class="input-group button-spinner">
                <button type="submit" [disabled]="isLoading || signupForm.invalid">sign up</button>
                <app-spinner [loading]="isLoading" class="loader"></app-spinner>
    
            </div>
        </form>
    </div>
    <p>Already have an account? <a routerLink="/home/login">Log in</a></p>
    </div>