<!-- email template to congratulate user that his/her has been accepted -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>congratulation </title>
</head>
<style>
    body{
        background-color: #f5f5f5;
        font-family: Arial, Helvetica, sans-serif;
    }
    h1{
        color: #000;
        font-size: 30px;
        font-weight: 500;
        text-align: center;
    }
    p{
        color: #000;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
    }
    a{
        color: #fff;
        background-color: #000;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 5px;
    }
    a:hover{
        background-color: #000;
        color: #fff;
    }
</style>
<body>
    <!-- use table -->
    <table style="width: 100%; background-color: #f5f5f5; font-family: Arial, Helvetica, sans-serif;">
        <tr>
            <td>
                <h1 style="color: #000; font-size: 30px; font-weight: 500; text-align: center;">Congratulations</h1>
                <p style="color: #000; font-size: 16px; font-weight: 400; text-align: center;">Hi {{name}},</p>
                <p style="color: #000; font-size: 16px; font-weight: 400; text-align: center;">Your answer has been accepted.</p>
                <p style="color: #000; font-size: 16px; font-weight: 400; text-align: center;">Click on the link below to view your answer.</p>
                <a href="{{url}}" style="color: #fff; background-color: #000; font-size: 16px; font-weight: 400; text-align: center; text-decoration: none; padding: 10px 20px; border-radius: 5px;">View Answer</a>
                <p style="color: #000; font-size: 16px; font-weight: 400; text-align: center;">Thanks,</p>
                <p style="color: #000; font-size: 16px; font-weight: 400; text-align: center;">Stackoverflow Team</p>
            </td>
        </tr>
    </table>
</body>
</html>