<footer>
    <div class="footer-content">
        <div class="stackoverflow">
            <div class="logo">
                <img class="icon" src="../../../assets/logo-stackoverflow.svg" alt="Stack Overflow">
                <h2>stackoverflow</h2>


            </div>


            <a routerLink="/home/questions" routerLinkActive="active">Questions</a>
            <a routerLink="/home/questions" routerLinkActive="active">Help</a>
        </div>
        <div class="social-media">
            <h2>social media</h2>
            <a target="_blank" href="https://www.youtube.com/channel/UCtXKDgvXbqI41qX2d9tL2Rw" title="YouTube"><i class="fa fa-youtube"></i> youtube</a>
            <a target="_blank" href="https://twitter.com/angular" title="Twitter"><i class="fa fa-twitter"></i> twitter</a>
            
            <a target="_blank" href="https://www.facebook.com/angular" title="Facebook"><i class="fa fa-facebook"></i> facebook</a>
            
            <a target="_blank" href="https://www.linkedin.com/company/angular" title="LinkedIn"><i class="fa fa-linkedin"></i> linkedin</a> 

        

        </div>
        <div class="company">
            <h2>company</h2>
            <a routerLink="/home/about">About</a>
            <a routerLink="/home/contact">Contact</a>
            <a routerLink="/home/privacy">Privacy</a>

        </div>

        <div class="stack-exchange-network">
            <h2>stack exchange network</h2>
            <a href="#" target="_blank">Stack Exchange</a>
            <a href="#" target="_blank">Technology</a>
            <a href="#" target="_blank">Culture</a>

        </div>
    </div>

    <div class="footer-bottom">
        <p style="color: white;">© 2020 Stack Overflow</p>
    </div>
</footer>