
<nav>
    <a routerLink="/admin" routerLinkActive="active">Home</a>
    <a routerLink="/admin/users" routerLinkActive="active">Users</a>
    <a routerLink="/admin/questions" routerLinkActive="active">Questions</a>
</nav>
<div class="admin">
    <div class="links">
        <a routerLink="/admin/users" routerLinkActive="active">Users</a>
        <a routerLink="/admin/questions" routerLinkActive="active">Questions</a>
    </div>
    <div class="admin-content">
        <div class="statistics">
            <app-user-statistics></app-user-statistics> 
            <app-question-statistics></app-question-statistics>
        </div>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>