<div class="contact">



    <div class="contact-content">

        <div class="email">
            <h2>Email</h2>
            <p>
                <a href="mailto:
                    {{email}}">{{email}}</a>
            </p>
        </div>

        <div class="phone">
            <h2>Phone</h2>
            <p>
                <a href="tel:
                    {{phone}}">{{phone}}</a>
            </p>

        </div>

        <div class="address">
            <h2>Address</h2>
            <p>
                {{address}}
            </p>

            </div>

        <div class="social">
            <h2>Social</h2>
            <p>
                <a href="{{facebook}}">Facebook</a>
            </p>
            <p>
                <a href="{{twitter}}">Twitter</a>
            </p>
            <p>
                <a href="{{instagram}}">Instagram</a>
            </p>

        </div>

    </div>
</div>