

.single-user{
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    border: 1px solid #ccc;
    max-width: 500px;
    margin-bottom: 20px;
}

.single-user  .profile-image{
    width: 100%;

}

.single-user .profile-image img{
    width: 100%;
    border-radius: 50%;
}

.single-user .user-info{
    margin-top: 20px;
}

.single-user .user-info p{
    font-size: 16px;
    font-weight: 600;
}

.single-user .user-info .email{
    font-size: 14px;
    font-weight: 400;
    color: #777;
}