<div class="ask-question">
    <div class="header">
        <h1>Ask a public question</h1>
        <div class="tips">
            <h3>Writing a good question</h3>
            <h4>steps</h4>
            <ul>
                <li>summarize the problem</li>
                <li>explain what you've tried</li>
                <li>include sample code</li> 
            </ul>
        </div>
    </div>

    <div class="form-group">
        <form  [formGroup]="askQuestionForm"  (ngSubmit)="onSubmit()">
            <div class="input-group">
                <label for="question">Question</label>
                <textarea name="question" id="question" cols="30" rows="10" formControlName="question"></textarea>
                <span *ngIf="askQuestionForm.get('question')?.hasError('required') && askQuestionForm.get('question')?.touched" class="error">Question is required</span>
            
            </div>
            <div class="input-group">
                <label for="description">Description</label>
                <textarea id="description" name="description" formControlName="description"></textarea>

                <span *ngIf="askQuestionForm.get('description')?.hasError('required') && askQuestionForm.get('description')?.touched" class="error">Description is required</span>
            </div>
            <div class="input-group">
                <label for="code">Code</label>
                <textarea id="code" name="code" formControlName="code"></textarea>
                <span *ngIf="askQuestionForm.get('code')?.hasError('required') && askQuestionForm.get('code')?.touched" class="error">Code is required</span>
            </div>
            <div class="input-group">
                <label for="tags">Tags</label>
                <select name="tag" id="tag">
                    <option *ngFor="let tag of tags" [value]="tag.id">{{tag.tag}}</option>
                </select>

                <span *ngIf="askQuestionForm.get('tags')?.hasError('required') && askQuestionForm.get('tags')?.touched" class="error">Tags is required</span>

            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>