<div class="ask-question">
    <div class="header">
        <h1>Ask a public question</h1>
        <div class="tips">
            <h3>Writing a good question</h3>
            <h4>steps</h4>
            <ul>
                <li>summarize the problem</li>
                <li>explain what you've tried</li>
                <li>include sample code</li> 
            </ul>
        </div>
    </div>

    <div class="form-group">
        <form>
            <div class="input-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" placeholder="Enter title">
            </div>
            <div class="input-group">
                <label for="description">Description</label>
                <editor id="description" name="description"></editor>
            </div>
            <div class="input-group">
                <label for="code">Code</label>
                <editor id="code" name="code"></editor>
            </div>
            <div class="input-group">
                <label for="tags">Tags</label>
                <input type="text" class="form-control" id="tags" placeholder="Enter tags">
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>