

<div class="user">
    <div class="user-info">
        <div class="user-info__name">
            <p>{{user.name}}</p>
        </div>
        <div class="user-info__email">
            <p>{{user.email}}</p>
        </div>
    </div>
    <div class="user-actions">
        <div class="user-actions__edit">
            <i class="fa fa-pencil" aria-hidden="true"></i>
        </div>
        <div class="user-actions__delete">
            <i class="fa fa-trash" aria-hidden="true"></i>
        </div>
    </div>
</div>