.forgot-password{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;


}

.form-group{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 30%;
    margin: auto;
}

.form-group form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.form-group form .input-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.form-group form .input-group input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group form .input-group label{
    width: 100%;
    text-align: left;
    color: gray;
}

.form-group form .input-group input:focus{
    outline: none;
    border: 1px solid black;
}

/* button
.form-group form .input-group button{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #0a95ff;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.form-group form .input-group button:hover{
    background: #0a95ff;
    color: white;
} */

button{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #0a95ff;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background: #0a95ff;
    color: white;
}

.success{
    color: green;
    font-weight: bold;
    text-align: center;
    background-color: #d4edda;
    padding: 10px;
}

.error{
    color: red;
    font-weight: bold;
    text-align: center;
    background-color: #f8d7da;
    padding: 10px;
}

/* Path: frontend/src/app/pages/home/forgot-password/forgot-password.component.html */