<div class="forgot-password">

    <p *ngIf="success" class="success">Password reset email sent</p>

    <div class="form-group" *ngIf="!success || error">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" formControlName="email">
                <span *ngIf="forgotPasswordForm.get('email')?.hasError('required') && forgotPasswordForm.get('email')?.touched" class="error">Email is required</span>
                <span *ngIf="forgotPasswordForm.get('email')?.hasError('email') && forgotPasswordForm.get('email')?.touched" class="error">Email is invalid</span>
            </div>
            <button type="submit">Submit</button>
        </form>

</div>