<div class="reset-password">

    <p *ngIf="success" class="success">Password reset successfully</p>
    <p *ngIf="error" class="error">Error resetting password</p>

    
    <div class="form-group" *ngIf="!success || error">
        <p>Reset Password</p>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <!-- email -->
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" formControlName="email">
                <span *ngIf="resetPasswordForm.get('email')?.hasError('required') && resetPasswordForm.get('email')?.touched" class="error">Email is required</span>
                <span *ngIf="resetPasswordForm.get('email')?.hasError('email') && resetPasswordForm.get('email')?.touched" class="error">Email is invalid</span>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" formControlName="password">
                <span *ngIf="resetPasswordForm.get('password')?.hasError('required') && resetPasswordForm.get('password')?.touched" class="error">Password is required</span>
                <span *ngIf="resetPasswordForm.get('password')?.hasError('minlength') && resetPasswordForm.get('password')?.touched" class="error">Password must be at least 6 characters</span>
            </div>
            <div class = "input-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" name="confirmPassword" id="confirmPassword" formControlName="confirmPassword">
                <span *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('required') && resetPasswordForm.get('confirmPassword')?.touched" class="error">Confirm Password is required</span>
                <span *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('minlength') && resetPasswordForm.get('confirmPassword')?.touched" class="error">Confirm Password must be at least 6 characters</span>
                <span *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('passwordMismatch') && resetPasswordForm.get('confirmPassword')?.touched" class="error">Passwords do not match</span>
            </div>
            <button type="submit">Submit</button>
        </form>

</div>