<div class="profile">
    <div class="user">
        <div class="avatar">
            <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50" alt="avatar">
        </div>
        <div class="name">
            <h1>{{user.user[0].name}}</h1>
        </div>
        <div class="email">
            <p>{{user.user[0].email}}</p>
        </div>
    </div>
    <div class="answers">
        <div class="header">
            <p>Answers</p>
        </div>
        <div class="answer" >
            <div class="total">
                <p>total</p>
                <p>{{answerThatBelongsToUser.length}}</p>
            </div>
            <div class="answers-heading">
                <p>Answers</p>
                <ol>
                    <li *ngFor="let answer of answerThatBelongsToUser">{{answer.answer}}</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="questions">
        <div class="header">
            <p>Questions</p>
        </div>
        <div class="question" >
            <div class="total">
                <p>total</p>
                <p>{{questionThatBelongsToUser.length}}</p>
            </div>
            <div class="questions-heading">
                <p>Questions</p>
                <ol>
                    <li *ngFor="let question of questionThatBelongsToUser">{{question.question}}</li>
                </ol>
            </div>
        </div>
    </div>
</div>