<div class="profile">
    <div class="user">
        <div class="avatar">
            <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50" alt="avatar">
        </div>
        <div class="name">
            <h1>{{user.name}}</h1>
        </div>
        <div class="email">
            <p>{{user.email}}</p>
        </div>
    </div>
    <div class="answers">
        <div class="header">
            <p>Answers</p>
        </div>
        <div class="answer" >
            <div class="total">
                <p>total</p>
                <p>2</p>
            </div>
            <div class="answers-heading">
                <p>Answers</p>
                <ol>
                    <li>You need to install nodejs first</li>
                    <li>Then you need to install angular cli</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="questions">
        <div class="header">
            <p>Questions</p>
        </div>
        <div class="question" >
            <div class="total">
                <p>total</p>
                <p>2</p>
            </div>
            <div class="questions-heading">
                <p>Questions</p>
                <ol>
                    <li>what is angular?</li>
                    <li>what is nodejs?</li>
                </ol>
            </div>
        </div>
    </div>
</div>