<div class="about">

    <!-- stackoverflow about -->

    <div class="about-content">
        <div class="about-title">
            <h1>Stack Overflow</h1>
        </div>

        <div class="about-description">
            <p>Stack Overflow is the largest, most trusted online community for developers to learn, share their
                programming knowledge, and build their careers.</p>

        </div>

        <div class="about-image">
            <img src="https://cdn.sstatic.net/Sites/stackoverflow/company/img/logos/so/so-logo.svg?v=4f32ecc8f43d"
                alt="Stack Overflow">

        </div>

        



    </div>
</div>