<div class="question-details">

    <div class="header">
        <div class="question-time">
            <p>{{question!.question}}</p>
            <p class="date-posted">posted {{question!.created_at| date}} </p>
        </div>
        <button routerLink="/home/ask-question">Ask Question</button>
    </div>

    <div class="details">
        <div class="votes">
            <img class="icon vote-btn" src="../../../assets/caret-up-outline.svg" alt="arrow up" (click)="vote(question,1)">
            <p>{{questionVotesSum}}</p>
            
            <img class="icon vote-btn" src="../../../assets/caret-down-outline.svg" alt="arrow down" (click)="vote(question,-1)">
        </div>

        <div class="description">
            <p>{{question!.description}}</p>
        </div>

        <div class="tags">
            <p>{{question!.tags[0]!.tag}}</p>
        </div>
        <div class="code">
            
                <code style="background-color: #f5f5f5; padding: 10px; border-radius: 5px;">
                    {{question!.code}}
                </code>
            
        </div>

        <div class="post-your-answer">
            
            <form (ngSubmit)="postAnswer(question)" [formGroup]="answerForm">
                <p>Post Your Answer</p>
                <textarea name="answer" id="answer" formControlName="answer"></textarea>
                <p>Post Your Code</p>
                <textarea name="code" id="code" formControlName="code"></textarea>
                <button type="submit">Post Your Answer</button>
            </form>
        </div>
    </div>

    <div class="answers" *ngIf="question?.answers!.length > 0">
        <p>Answers</p>
        <div class="answer" *ngFor="let answer of question?.answers">
            <div class="votes">
                <img class="icon vote-btn" src="../../../assets/caret-up-outline.svg" alt="arrow up" (click)="voteAnswer(answer,1)">
                <p>{{answerVotesSum}}</p>
                <img class="icon vote-btn" src="../../../assets/caret-down-outline.svg" alt="arrow down" (click)="voteAnswer(answer,-1)">
            </div>
            <div class="answer-description">
                <p>{{answer?.answer}}</p>
               
            </div>
            <div class="code">
                
                    <code style="background-color: #f5f5f5; padding: 10px; border-radius: 5px;">
                        {{answer?.code}}
                    </code>
                    <div class="actions">
                        <!-- check if I am the user -->
                        <button *ngIf="answer?.user_id === user.user[0].id" (click)="deleteAnswer(answer)">Delete</button>
                        <button *ngIf="answer?.user_id === user.user[0].id" (click)="editAnswer(answer)">Edit</button>
                        <button *ngIf="answer?.user_id === user.user[0].id" (click)="markAccepted(answer)">Mark as Accepted</button>
                    </div>
            </div>
          
            <div class="comment" *ngIf="answer?.comments!.length > 0">
                <p>Comments ({{answer?.comments!.length}})</p>
                <div *ngFor="let comment of answer?.comments">
               
                    <div class="comment-description">
                        <p>{{comment?.comment}}</p>
                    </div>
                </div>
            </div>
            <div class="post-your-comment">
                <p>Post Your Comment</p>
                <form (ngSubmit)="postComment(answer)" [formGroup]="commentForm">
                    <textarea name="comment" id="comment" cols="20" rows="5" formControlName="comment"></textarea>
                    <button type="submit">Post Your Comment</button>
                </form>
            </div>
        </div>
    </div>

    
</div>

