<div class="question-details">

    <div class="header">
        <div class="question-time">
            <p>{{question.question}}</p>
            <p class="date-posted">posted {{question.created_at| date}} </p>
        </div>
        <button routerLink="/home/ask-question">Ask Question</button>
    </div>

    <div class="details">
        <div class="votes">
            <img class="icon" src="../../../assets/caret-up-outline.svg" alt="arrow up" (click)="upVote(question)">
            <p>{{question.votes.length}}</p>
            <img class="icon" src="../../../assets/caret-down-outline.svg" alt="arrow down">
        </div>

        <div class="description">
            <p>{{question.description}}</p>
        </div>

        <div class="tags">
            <p>{{question!.tags[0].tag}}</p>
        </div>
        <div class="code">
            <pre>
                <code>
                    {{question.code}}
                </code>
            </pre>
        </div>

        <div class="post-your-answer">
            
            <form>
                <p>Post Your Answer</p>
                <editor name="answer" id="answer" ></editor>
                <p>Post Your Code</p>
                <editor name="code" id="code" ></editor>
                <button type="submit">Post Your Answer</button>
            </form>
        </div>
    </div>

    <div class="answers">
        <p>Answers</p>
        <div class="answer" *ngFor="let answer of question?.answers">
            <div class="votes">
                <img class="icon" src="../../../assets/caret-up-outline.svg" alt="arrow up">
                <p>{{answer?.votes?.length}}</p>
                <img class="icon" src="../../../assets/caret-down-outline.svg" alt="arrow down">
            </div>
            <div class="answer-description">
                <p>{{answer?.answer}}</p>
            </div>
            <div class="code">
                <pre>
                    <code>
                        {{answer?.code}}
                    </code>
                </pre>
            </div>
            <div class="post-your-comment">
                <p>Post Your Comment</p>
                <form>
                    <textarea name="comment" id="comment" cols="20" rows="5"></textarea>
                    <button type="submit">Post Your Comment</button>
                </form>
            </div>
        </div>
    </div>

    
</div>

