<div class="landing-page">

    <div class="hero">
        <div class="hero-cards">
            <div class="join-community-card">
                <mat-icon class="search-icon">search</mat-icon>
                <p>Find the best answer to your technical question, help others answer theirs</p>
                <a routerLink="/home/signup" class="signup">Join the community</a>
            </div>
            <div class="teams-card">
                <!-- security icon padlock -->
                <mat-icon class="search-icon">security</mat-icon>

                <p>Want a secure, private space for your technical knowledge?</p>
                <a routerLink="/home/signup" class="signup">Discover teams</a>
            </div>
        </div>
        <p>Every <span class="engineer"> {{engineer}} </span> has a
            tab <br> open to Stack Overflow</p>

        <div class="users-stats">
            <div class="visitors">
                <h2> 100 + million</h2>
                <p>monthly visitors to Stack Overflow & Stack Exchange</p>
            </div>
            <div class="users">
                <h2> 50 + million</h2>
                <p>monthly users on Stack Overflow & Stack Exchange</p>
            </div>

        </div>
    </div>


    <div class="platforms">

        <div class="community">
            <div class="community-content">
                <div class="logo">
                    <img src="https://cdn.sstatic.net/Sites/stackoverflow/company/img/logos/so/so-logo.svg?v=4f32ecc8f43d"
                alt="Stack Overflow">
                </div>

                <div class="community-image">
                    <img src="https://cdn.sstatic.net/Img/home/illo-public.svg?v=14bd5a506009" alt="stackoverflow">
                </div>
   
                <h2>A public platform building the definitive collection of coding questions & answers</h2>
                <p>A community-based space to find and contribute answers to technical challenges, and one of the most popular websites in the world.</p>
                <button class="signup" routerLink="/home/signup">Join the community</button>
            </div>
          
        </div>
        <div class="teams">
            <div class="teams-content">
                <div class="logo">
                    <img src="https://cdn.sstatic.net/Sites/stackoverflow/company/img/logos/so/so-logo.svg?v=4f32ecc8f43d"
                alt="Stack Overflow">
                </div>

                <div class="teams-image">
                    <img src="https://cdn.sstatic.net/Img/home/illo-teams.svg?v=14bd5a506009" alt="stackoverflow">
                </div>
                <h2>A private collaboration & knowledge sharing SaaS platform for companies</h2>
                <p>A web-based platform to increase productivity, decrease cycle times, accelerate time to market, and protect institutional knowledge.</p>

                <button class="signup" routerLink="/home/signup">Discover teams</button>
        </div>
    </div>

    <!-- <div class="partners">
        <div class="header">
            <h2>Our partners</h2>
            <p>Our partners help us make Stack Overflow the best place for developers to learn, share their knowledge,
                and
                build their careers.</p>
        </div>

    </div> -->
</div>