.landing-page{
    width: 100%;
    
}

.hero{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #393e43;
    padding: 20px;
}

.hero h1{
    font-size: 3rem;
    color: #e1ecf4;
    text-align: center;
}

.hero p{
    font-size: 2.5rem;
    color: #e1ecf4;
    text-align: center;
}

.hero p .engineer{

    color: #f1730c;
    
}
.hero .hero-cards{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap : 20px;
   
}
.hero .hero-cards .join-community-card,.hero .hero-cards .teams-card{
   
    height: 300px;
}

.hero .join-community-card p,.hero  .hero-cards .teams-card p{
    color: black;
    font-size: 2rem;
    text-align: center;
}

.hero  .hero-cards .join-community-card{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0 20px;
    background-color: #fee3cd;
    padding: 20px;
}

.hero  .hero-cards .join-community-card a{
    text-decoration: none;
    text-align: center;
 
    padding:  5px 10px;
    border-radius: 5px;
    background-color: #f1730c;
    color: white;
}






.hero  .hero-cards .teams-card{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 20px 0;
    background-color: #cde9fe;
    padding: 20px;
}

.hero .hero-cards .teams-card a{
    text-decoration: none;
    text-align: center;
    padding:  5px 10px;
    border-radius: 5px;
    background-color: #0a95ff;
    color: white;
}

.hero .users-stats{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.hero .users-stats .visitors, .hero .users-stats .users{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero .users-stats .visitors h2,.hero .users-stats .users h2{
    font-size: 1rem;
    color: #e1ecf4;
}

.hero .users-stats .visitors p,.hero .users-stats .users p{
    font-size: 0.9rem;
  
}

@media screen and (max-width: 768px){
    .hero{
        width: 100%;
    
    }
    .hero .hero-cards{
        flex-direction: column;
        gap: 20px;
    }
    .hero .hero-cards .join-community-card,.hero .hero-cards .teams-card{
        width: 100%;
        border-radius: 20px;
    }
    .hero .hero-cards .join-community-card{
        border-radius: 20px 20px 0 0;
    }
    .hero .hero-cards .teams-card{
        border-radius: 0 0 20px 20px;
    }
    .hero .users-stats{
        flex-direction: column;
        gap: 0;
    }
    .hero .users-stats .visitors, .hero .users-stats .users{
        width: 100%;
    }
}

